<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <legend>With this service you subscribe to a feed, then each hour(60 minutes), we check if there is new info on the feed and let you know via POST to an url the new stuff avaliable on that feed, if you need to check information more often plz contact us</legend>
    <form action="/" method="POST">
      <fieldset>
        <label>Feed you are subscribing to</label>
        <input type="text" name="feed" id="feed" autocomplete="off" placeholder="ex. http://github.com/timeline.atom">
        <label>Where do you want to be notified</label>
        <input type="text" name="callback" id="callback" autocomplete="off" placeholder=" ex. http://requestb.in/1dgsd5m1">
        <br>
        <button type="submit" class="btn btn-block" style="width:220px">Subscribe</button>
      </fieldset>
    </form>
    <p class="text-info"><% if (locals.notice) { %> <%= notice %> <% } %></p>
    <br /><br />
    <legend>Do a <b>POST to /</b> to subscribe to a feed with the following body structure</legend>
    <pre>
      {
        "feed":"Some valid Atom Feed URI",
        "callback":"Some callback/url to post the articles"
      }</pre>
    <br />
    <legend>This is by no means better than pubsubhub, but an alternative when your rss provider wont support it</legend>
  </body>
</html>
